.mainPage{
    height: 31.6rem;
    width: 60rem;
    background-color: white;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border: 0;
    overflow: hidden;
    box-shadow: 1px 9px 60px rgb(1, 24, 125);
}
.picture{
    flex: 50%;
    position: relative;

}
.faqs{
    flex: 50%;
}
.desktopImg{
    position: absolute;
    top: -34.7rem;
    right: 3.8rem;
}
.desktopWoman{
    position: absolute;
    right: 3.8rem;
    top: -12rem;
}
.box{
    position:absolute;
    left: 0rem;
    top: 13.6rem;
}
.relative{
    position: relative;
    height: 34rem;
    width: 71.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqsDiv>div{
    
}