.mainPage{
    height: 35rem;
    width: 60rem;
    background-color: white;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.picture{
    flex: 50%;
    position: relative;
}
.faqs{
    flex: 50%;
}
.desktopImg{
    position: absolute;
    top: -34.7rem;
    right: 3.8rem;
    
}
.desktopWoman{
    position: absolute;
    right: 3.8rem;
    top: -12rem;
}