body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: hsl(273, 75%, 66%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:414px) {
    body{
        height: 90vh;
    }
}